<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vincentzhu.testapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- The login activity -->
        <activity android:name=".LoginActivity"
            android:label="@string/app_label" />
        <activity
            android:name=".login"
            android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="About Us">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".Home"
            android:launchMode="singleTop"
            android:label="Home"/>
        <activity android:name=".Introduction" />

        <!-- Shows the list of ingredients entered by the user -->
        <activity
            android:name=".IngredientList"
            android:label="Ingredient List"
            android:launchMode="singleTop"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="adjustPan|stateVisible"> <!-- show keyboard -->
            >

            <!--
            launchMode affects how instances of activities are created
            and affects the animation when the Up button is pressed
            -->
            <!-- parentActivityName sets the parent activity of this activity for Up navigation -->
            <!-- This meta-data tag sets the parent activity for older Android versions -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".IngredientCatalog"
            android:label="Ingredient Catalog"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".MeatScroll"
            android:label="Meat &amp; Seafood">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IngredientCatalog" />
        </activity>
        <activity
            android:name=".PersonalRecipe"
            android:label="Add Recipe"
            android:windowSoftInputMode="stateVisible|adjustNothing"> <!-- show keyboard -->
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".SavedRecipe"
            android:label="Saved Recipes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".SavedIngredients"
            android:label="Saved Ingredients">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".Admin"
            android:label="Admin" />
        <activity android:name=".PersonalIngredient"
            android:label="Add Ingredient"
            />
        <activity
            android:name=".SearchByName"
            android:label="Search by Name"
            android:windowSoftInputMode="stateVisible"> <!-- show keyboard -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".SearchResults"
            android:label="Search Results">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchByName" />
        </activity>
        <activity
            android:name=".SearchByRecipeAttribute"
            android:label="Search by Attribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity android:name=".RecipePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity android:name=".ResetPassword" />
        <activity android:name=".IngredientPage" />
        <activity android:name=".Favorites" android:label="Favorites" />
    </application>

</manifest>