<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bizdev.recipeapp.cookitup">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cook It Up"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- The login activity -->
        <activity android:name="com.bizdev.recipeapp.cookitup.LoginActivity" />
        <activity
            android:name="com.bizdev.recipeapp.cookitup.Registration"
            android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.AboutUs"
            android:label="About Us"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home" />
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.Home"
            android:launchMode="singleTop"
            android:label="Home"/>

        <!-- Shows the list of ingredients entered by the user -->
        <activity
            android:name="com.bizdev.recipeapp.cookitup.IngredientList"
            android:label="Ingredient List"
            android:launchMode="singleTop"
            android:parentActivityName="com.bizdev.recipeapp.cookitup.Home"
            android:windowSoftInputMode="adjustPan|stateVisible"> <!-- show keyboard -->
            >

            <!--
            launchMode affects how instances of activities are created
            and affects the animation when the Up button is pressed
            -->
            <!-- parentActivityName sets the parent activity of this activity for Up navigation -->
            <!-- This meta-data tag sets the parent activity for older Android versions -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home" />
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.IngredientCatalog"
            android:label="Ingredient Catalog"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home" />
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.AddRecipe"
            android:label="Add Recipe"
            android:windowSoftInputMode="stateVisible|adjustNothing"> <!-- show keyboard -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home" />
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.MyRecipes"
            android:label="Saved Recipes"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home" />
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.MyIngredients"
            android:label="Saved Ingredients"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home" />
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.Admin"
            android:label="Admin" />
        <activity android:name="com.bizdev.recipeapp.cookitup.AddIngredient"
            android:label="Add Ingredient">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home"/>
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.SearchByName"
            android:label="Search by Name"
            android:windowSoftInputMode="stateVisible"> <!-- show keyboard -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home" />
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.SearchResults"
            android:label="Search Results">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.SearchByName" />
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.SearchByAttribute"
            android:label="Search by Attribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizdev.recipeapp.cookitup.Home" />
        </activity>
        <activity android:name="com.bizdev.recipeapp.cookitup.RecipePage">
        </activity>
        <activity android:name="com.bizdev.recipeapp.cookitup.ResetPassword">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.bizdev.recipeapp.cookitup.Home"/>
        </activity>

        <activity android:name="com.bizdev.recipeapp.cookitup.IngredientPage">
        </activity>
        <activity
            android:name="com.bizdev.recipeapp.cookitup.Favorites"
            android:label="Favorites"
            android:launchMode="singleTop" />
    </application>

</manifest>